<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Register</title>
  </head>
  <body>
    <h1>Click the link below to register a Pyppy:</h1>
    <a href="/create_puppy">Click Here To List A Puppy</a>
  </body>
</html>
